body {
  background-color: #234537;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

footer {
  font-size: 1.2em;
  margin: 2rem auto 1rem;
}

#recipe {
  padding: 0rem 1em;
}

.table {
  border: 1px solid white;
  margin: 1.5rem auto;
  width: fit-content;

  &--inner {
    display: table;
  }

  &--row {
    display: table-row;
    border: 1px solid white;

    &__info {
      padding: .5em;
      font-size: 0.9em;
    }
  }

  &__cell {
    display: table-cell;
    border: 1px solid white;
    padding: 0.5em 0rem;

    &--follow {
      padding: 1rem;
      vertical-align: middle;
    }
  }
}

.card {
  width: 8rem;
  vertical-align: middle;

  &--instant-price {
    width: 100%;
  }

  &__title {
    margin-bottom: .5em;
  }

  &__cell {
    padding: .5rem 0rem;

    &__border {
      padding: 0.5rem 0rem;
      border: 1px solid white;
    }
  }
}

.card-ingredient {

  >img {
    height: 5rem;
    max-width: 5rem;
    object-fit: contain;
  }

  &__title {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }

  &-info {
    font-size: .8em;
  }

  &__art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    height: 8rem;
  }

}

.card__recipe {
  width: 8rem;
  font-size: 1rem;

  >img {
    height: 5rem;
    max-width: 5rem;
    object-fit: contain;
  }
}

.assorted-bigcard {
  display: flex;
  margin: auto .5rem;
  justify-content: center;
  flex-wrap: wrap;

  &#ingredient {
    margin: auto;
    max-width: 60em;
  }
}

.bigcard {
  margin: 1rem .5em;
  padding: 1rem;
  border: 1px solid white;
  box-shadow: .2rem .2rem #99999980;
  background-color: #305F4B;

  &:hover {
    box-shadow: .3rem .3rem #99999980;
    background-color: #3E7A60;
    margin: .9rem .6em;
  }

  &:active,
  &:checked,
  &--selected {
    box-shadow: .2rem .2rem #99999980;
    border-width: 2px;
    background-color: #503c50;
    margin: .9rem .6em;

    &:hover {
      background-color: #5f405f;
    }
  }

  &--ingredient {
    display: flex;
    padding: 0rem;
    flex-direction: column;
    align-items: center;
    flex-basis: 10em;
  }
}

.footer__fanart>img {
  max-height: 420px;
  max-width: 80%;
  margin: .5em auto 1em;
}

.source-info {
  margin: .5rem auto;

  & img {
    margin: 0rem .2em;
    height: 1.5rem;
  }
}

.hidden-radio {
  display: none;
}

@media screen and (max-width: 959px) {
  body {
    font-size: 1rem;
  }

  .assorted-bigcard#ingredient {
    max-width: 45em;
  }

  .bigcard {
    margin: .5rem .5rem;
    padding: .5rem;

    &:hover,
    &:active,
    &:checked,
    &--selected {
      margin: .5rem .5rem;
      padding: .5rem;
    }

    &--version {
      font-size: .8em;
    }

    &--ingredient {
      flex-basis: 6em;
    }
  }

  .card-ingredient {
    >img {
      height: 4em;
      max-width: 4em;
      object-fit: contain;
    }

    &__art {
      width: 5em;
      height: 5em;
      border: 0px;
    }

    &__art img {
      max-width: 5em;
    }

    &__title {
      font-size: 1em;
      height: 2.5em;
    }
  }


  .card {
    width: 5rem;

    &--instant-price {
      width: 100%;
      margin: .5em 0rem;
      border: 0;
    }

    &__price {
      width: 5em;
      margin: auto;
    }

    &__cell {
      padding: .3rem 0rem;
    }

    &__recipe {
      font-size: .8em;
      padding: .3rem;

      >img {
        max-height: 4.5em;
      }
    }
  }

  .table__cell--follow {
    padding: .5em;
  }
}

@media screen and (max-width: 679px) {
  body {
    font-size: .75rem;
    overflow-x: hidden;
    width: fit-content;
    margin: auto;
  }

  .bigcard {
    padding: .4rem;
    margin: .5rem .2rem;
    border-width: 1px;
    box-shadow: .2rem .2rem #99999980;

    &:hover,
    &:active,
    &:checked,
    &--selected {
      padding: .4rem;
      margin: .5rem .2rem;
      border-width: 1px;
      box-shadow: .2rem .2rem #99999980;
    }

    &--version {
      font-size: .8em;
    }
  }

  .card-ingredient {
    &__art img {
      max-width: 5em;
    }

    >img {
      height: 4em;
      max-width: 4em;
      object-fit: contain;
    }
  }

  .card {
    width: 5em;

    &--instant-price {
      width: 100%;
      margin: .5em 0rem;
    }
  }

  .footer__fanart>img {
    max-width: 320px;
  }

  .source-info img {
    margin: 0rem .2em;
    height: 2em;
  }

  .table__cell--price {
    font-size: .9em;
  }
}

@media screen and (max-width: 499px) {
  body {
    font-size: .6rem;
  }

  .assorted-bigcard {
    margin: 0;
  }

  .assorted-bigcard#ingredient {
    max-width: 40em;
  }

  .bigcard {
    padding: .4rem;
    margin: .5rem .1rem;
    box-shadow: none;

    &:hover,
    &:active,
    &:checked,
    &--selected {
      padding: .4rem;
      margin: .5rem .1rem;
      box-shadow: none;
    }
  }

  #ingredient .bigcard {
    padding: .4em;
  }

  footer {
    font-size: 1em;
  }
}